body {
  background-color: #333033;
  color: #333;
  font-family: helvetica,sans-serif;
  font-size: 110%;
  margin: 0;
}
#page {
  background-color: white;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
  margin: 0.5ex auto;
  width: 1000px;
}
#header,
#input,
#footer {
  padding: 1ex;
}
#logo {
  border: none;
}
#input {
  margin-left: 120px;
}
#loading {
  background-color: white;
  border-top: 1px solid #aaa;
  color: #505050;
  opacity: 0;
  padding: 1ex;
}
#output {
  padding: 0 1ex;
}
#output p {
  clear: both;
}
#output img {
  float: left;
}
#output .time {
  color: #aaa;
  font-size: smaller;
  margin-left: 2ex;
  white-space: nowrap;
}
#output .track {
  margin: 1ex 0 0;
  padding: 1ex 0;
}
#output .track > img {
  border: 1px solid #ccc;
  height: 100px;
  width: 100px;
}
#output .track > div {
  margin-left: 120px;
}
#output .track:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.tweets {
  font-size: smaller;
  margin-top: 1em;
}
.tweet img {
  margin-right: 1ex;
  height: 48px;
  width: 48px
}
h1 {
  margin-top: 0;
}
h1,
a,
#header blockquote {
  color: #f3933c;
}
#header blockquote {
  display: inline;
  font-style: italic;
  margin: 0 1ex;
}
img#robinPic {
  border: 2px solid #aaa;
  float: left;
  margin-right: 15px;
}
#page {
  background-color: #eee;
}
#output {
  background-color: white;
  border-top: 1px solid #aaa;
}
a {
  text-decoration: none;
  font-size: larger;
}
a:hover {
  text-decoration: underline;
}
#user {
  color: #aaa;
  width: 30ex;
}
#exampleUsername {
  color: #aaa;
  font-style: italic;
  margin: 0;
}
#go {
  margin-left: 1ex;
  width: 6ex;
}
input,
button {
  font-size: 160%;
  padding: 0.3ex;
}
#footer {
  border-top: 1px solid #aaa;
}
#footer div.item {
  margin-bottom: 2em;
}
